<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/424ce1386e.js" crossorigin="anonymous"></script>
    <title>Games Shop</title>
</head>
<body>
    
    <div class="container p-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1>Actualizar curso</h1>
                <div class="card card-body">
                    <form action="{{ route('cursos.update', $curso) }}" method="POST" enctype="multipart/form-data">
                        @csrf
                        @method('put')
                        <div class="form-group">
                            <label class="label" for="nombre">Nombre: </label>
                            <input type="text" name="nombre" class="form-control" value="{{ $curso->nombre }}" required>
                        </div><br>
                        <div class="form-group">
                            <label class="label" for="descripcion">Descripción:</label>
                            <textarea name="descripcion" class="form-control" cols="30" rows="10" required>{{ $curso->descripcion }}</textarea>
                        </div><br>
                        <div class="form-group">
                            <label class="label" for="categoria">Categoría:</label>
                            <input type="text" name="categoria" class="form-control" value="{{ $curso->categoria }}" required>
                        </div><br>
                        <div class="form-group">
                            <label class="label" for="foto">Foto:</label>
                            <br>
                            <input type="file" name="foto" class="form-control" required>
                        </div><br>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success btn-block" value="Actualizar curso">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

